.password-update-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.password-update-container .password-update-card {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: 1px solid lightblue;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  /* justify-content: center; */
}

.password-update-container .password-update-card .heading {
  font-size: 1.8rem;
  color: #333;
  font-weight: 700;
}

.password-update-container .password-update-card .description {
  font-size: 0.9rem;
  margin: 0.8rem 0 0 0;
  text-align: center;
}

.password-update-container .password-update-card .form-group {
  margin: 1rem 0 0 0;
}

.password-update-container .password-update-button-holder {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.password-update-container .password-update-button-holder button {
  width: 120px;
}
