.slot-update-action-container .slot-update-topic {
  padding-bottom: 10px;
  border-bottom: 1px solid lightblue;
}

.slot-update-action-container .slot-update-body {
  margin-top: 10px;
}

.slot-update-action-container form {
  margin-top: 10px;
  font-size: 1rem;
}

.slot-update-action-container .form-group {
  margin-bottom: 20px;
}

.slot-update-action-container form input {
  font: 16px;
  width: 100%;
}

.slot-update-button-holder {
  display: flex;
  justify-content: space-between;
}

.slot-update-button-holder button {
  width: 180px;
}

.slot-update-action-container form label {
  margin-bottom: 5px;
}
