.unauthorized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.unauthorized h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.unauthorized p {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #666;
}

.unauthorized button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.unauthorized button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
