.staff-dashboard-container {
  padding: 20px;
}
.staff-dashboard-container .heading-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.staff-dashboard-container .table-name-container {
  background-color: rgb(228 219 219);
  /* border: 1px solid black; */
  border-radius: 7px;
  width: 82%;
  /* justify-content: space-around; */
  padding: 6px 8px;
  display: flex;
  height: inherit;
  color: royalblue;
}
.staff-dashboard-container .heading-buttons-container .buttons-container {
  display: flex;
  position: relative;
}

.manual-entry-box {
  width: 250px;
  background-color: #fff;
  border: 1px solid brown;
  border-radius: 6px;
  position: absolute;
  top: -300px;
  right: 0px;
  transition: transform 0.2s ease-in-out;
  padding: 10px 10px;
  display: hidden !important;
}

.manual-entry-box-display {
  transform: translateY(345px);
}

.manual-entry-box label {
  padding: 10px 0px 0px 5px;
  margin-bottom: 0px;
  font-size: 0.9rem;
}

.manual-entry-box .create-manual-entry-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .search-container {
  column-gap: 5px;
  padding: 1px 0.5px 0.5px 1px;
  display: grid;
  grid-template-rows: 36px;
  grid-template-columns: repeat(19, 1fr);
  border-radius: 3px;
  margin-bottom: 30px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 19;
}

.grid-item-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-2 {
  border: 1px solid brown;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.staff-dashboard-container .table-name {
  margin-left: 20px;
}

.staff-dashboard-container .button-1 {
  margin-right: 20px;
}

.staff-dashboard-container .no-booking-text {
  font-weight: 500;
  font-size: 2.6rem;
  color: #333;
  display: flex;
  justify-content: center;
}

.staff-dashboard-container .complete-profile-update-card {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 40%; */
}

.card-top {
  display: flex;
  flex-direction: row;
}

.card-bottom {
  display: flex;
  justify-content: center;
}

.complete-update-description {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #333;
  height: 100%;
  margin-left: 20px;
  font-weight: 500;
}

.intable-column-time {
  display: flex;
  align-items: center;
}
.intable-column-time .start-time {
  background-color: aqua;
  border-radius: 4px;
  padding: 3px;
}
.intable-column-time .end-time {
  background-color: coral;
  border-radius: 4px;
  padding: 3px;
}

.intable-column-vehicletype {
  display: flex;
  align-items: center;
}

.staff-dashboard-container table label span {
  position: absolute;
  top: -1000px;
}
